
div {
    column-rule: 1px solid red;
}

.ch-svg {
    width: 20px;
    height: 20px;
}
.ch-text-a {
  text-align: center;
}

.ch-text-b {
  text-align: left;
}

.ch-text-c {
  text-align: right;
} 

..ch-text-d {
  text-align: justify;
} 
.ch-row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.ch-col-1 {
    width: 8.33%;
}

ul {
    list-style-type: none;
}
.ch-col-2 {
    width: 16.66%;
}

.ch-col-3 {
    width: 25%;
}

.ch-col-4 {
    width: 33.33%;
}

.ch-col-5 {
    width: 41.66%;
}

.ch-col-6 {
    width: 50%;
}

.ch-col-7 {
    width: 58.33%;
}

.ch-col-8 {
    width: 66.66%;
}

.ch-col-9 {
    width: 75%;
}

.ch-col-10 {
    width: 83.33%;
}

.ch-col-11 {
    width: 91.66%;
}

.ch-col-12 {
    width: 100%;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.ch-header {
    background-color: #282828;
    color: #ffffff;
    padding: 15px;
}

.ch-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ch-menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0 -24);
}

.ch-menu li:hover {
    background-color: #0099cc;
}

.ch-mt {
  margin-top: 16em;
}
.ch-mb {
  margin-bottom: 16em;
}

.ch-pt {
  padding-top: 16em;
}
.ch-pb {
  padding-bottom: 16em;
}

/* welcome */

ul .ch-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li#ch-list-nav {
    display: inline;
    text-decoration-line: none;

}

.ch-right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
    overflow: auto;
}

.ch-left {
    float: left;
    width: 300px;
    padding: 10px;
}

/* Style the tab */
.ch-tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #282828;
}

/* Style the buttons inside the tab */
.ch-tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.ch-tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.ch-tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.ch-tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.ch-title {

}

/*clearfix*/
.cf:before,
.cf:after {
    content: " ";
    display: table;
/
}

.cf:after {
    clear: both;
}

/*location listing*/
.location_list {
    float: left;
    width: 100%;
}

.location_list .location {
    float: left;
    width: 100%;
}

.location_list .location img {
    margin: 0px 15px 15px 0px;
    float: left;
}

}
.location_list .location .phone_email {
    clear: both;
}

.location_list .location .readmore {

}

/**  date clock */

.clockdate-wrapper {
    background-color: #333;
    padding:10;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:1%;
}
#clock{
    background-color:#333;
    font-family: sans-serif;
    font-size:1em;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
    top:-27px;
    left:-10px;
}
#date {
    letter-spacing:10px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}


#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }
